<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../cotton-translator/cotton-translator-behavior.html">

<dom-module id="cotton-carrier-connection-lost">
    <template>
      <paper-dialog id="dialog" modal>
         <p>[[timeout]]</p>
        <div class="buttons">
          <paper-button dialog-confirm autofocus on-tap="_reload">[[accept]]</paper-button>
        </div>
      </paper-dialog>
    </template>
    <style>
    </style>
    <script>

        const Dictionary = {
            es: {
                timeout: 'Por motivos de seguridad su sesión actual ha sido invalidada. Por favor, inicie sesión de nuevo.',
                accept: 'OK'
            },
            en: {
                timeout: 'Your session have been expired by security reasons. Please, start session again.',
                accept: 'OK'
            }
        };

        Polymer({
            is: 'cotton-carrier-connection-lost',

            behaviors: [CottonBehaviors.TranslatorBehavior],

            attached: function () {
              this.translate(Dictionary);
            },

            show : function() {
              this.$.dialog.open();
            },

            _reload : function() {
              window.location.reload(true);
            }
        });

    </script>
</dom-module>
